@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");
$gap: 10px;

$common-element-bg: rgba(255, 255, 255, 0.24);
$bg-color-hover: rgb(211, 206, 206);
$column-bg-color: #ebecf0;

$column-border-radius: 4px;
