@import "setting.scss";

.board-contents {
  height: 100vh;
  display: flex;
  padding-top: $gap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar :horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $common-element-bg;
    border-radius: 8px;
  }
  .add-new {
    width: 250px;
    min-width: 250px;
    margin-left: $gap;
    .add-new-column {
      padding-left: $gap;
      border-radius: $column-border-radius;
      height: 32px;
      line-height: 32px;
      color: #888;
      background-color: hsla(0, 0%, 100%, 0.24);
      font-size: 18px;
      cursor: pointer;
      &:hover {
        background-color: $column-bg-color;
      }
    }
    .enter-new-column {
      padding: 4px 0 4px 10px;
      border-radius: $column-border-radius;
      background-color: $column-bg-color;
      .input-new-column {
        margin-top: 5px;
        min-height: 35px;
        width: 90%;
        border: none;
        outline: none;
      }
      button {
        border: none;
        outline: none;
      }
      .confirm {
        display: flex;
        margin: 5px 0;
      }
    }
  }
}
