* {
  font-family: "IBM Plex Serif";
  /* font-weight: 400; */
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}
.lg {
  font-size: 42px;
}

.header-bg {
  width: 100%;
  height: 680px;
  /* height: 680px; */
  background: linear-gradient(
    0deg,
    rgba(26, 26, 26, 0.5),
    rgba(26, 26, 26, 0.5)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/Rectangle 4.png");
  position: relative;
}

.title-header-bg {
  padding: 0;
  gap: 16px;
  position: absolute;
  width: 35%;
  height: 15%;
  left: 55%;
  top: 15%;
  color: white;
}
.title {
  font-family: "Koulen";
  font-size: 56px;
  line-height: 150%;
}
.content-header-bg {
  width: 95%;
  height: 15%;
  font-size: 20px;
  line-height: 150%;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.sale-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 35%;
  height: 40%;
  left: 35%;
  top: 80%;
  background: #1a1a1a;
  color: #ffff;
}

.title-sale {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 200;
  font-size: 42px;
}

.content-sale {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}
.content-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.time-content {
  font-size: 48px;
  line-height: 150%;
}

.text-content {
  font-size: 24px;
  line-height: 150%;
  flex: none;
  order: 1;
  flex-grow: 0;
}

@media only screen and (max-width: 600px) {
  /* .title-header-bg {
    width: 360px;
    height: 172px;
    left: 15px;
    top: 140px;
    width: 60%;
    height: 50%;
  } */
  .title-header-bg {
    left: 15px;
  }
  .title {
    font-size: 32px;
  }
  .time-content {
    font-size: 20px;
  }
  .title-sale {
    font-size: 20px;
  }

  .sale-container {
    gap: 16px;
    width: 85%;
    height: 35%;
    left: 5%;
    top: 85%;
  }
}

.shoes-container {
  margin-top: 180px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 80px;
}

.header-title {
  font-family: "Koulen";
  font-size: 32px;
  line-height: 150%;
  width: 40%;
}

.header-content {
  width: 70%;
  font-size: 16px;
  line-height: 150%;
  margin-left: 30%;
  order: 1;
}

.shoe-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 80px;
  gap: 30px;
}

/* .item {
  flex-basis: calc(50% - 15px);
  max-width: calc(50% - 15px);
} */
/* .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */
.shoe-detail-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  isolation: isolate;
  /* width: 270px;
  height: 324px; */
  width: 40%;
  height: 65%;
}
.sale-off {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  background: #3d0000;
}

.shoe-detail-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.shoe-detail-price {
  display: flex;
  font-size: 20px;
  line-height: 150%;
  color: #1a1a1a;
}
.shoe-detail-price-sale-off {
  align-self: center;
  text-decoration: line-through;
  margin-left: 15px;
}

.shoe-detail-name {
  font-size: 14px;
  line-height: 150%;
  color: #666666;
}

.shoe-detail-desc {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 150%;
  color: #1a1a1a;
}

.add-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 270px;
  height: 48px;
  background-color: white;
  border: 1px solid #1a1a1a;
}

/* Craft------- */

.craft-container {
  margin-top: 30px;
  background: #1a1a1a;
  color: white;
  padding: 80px;
}

.craft-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.craft-detail {
  /* width: calc((100% - 20px) / 3); */
  margin-bottom: 20px;
  flex-grow: 0;
  align-self: flex-start;
}

.craft-detail:nth-last-child(-n + 2) {
  /* flex-grow: 1; */
  align-self: stretch;
  /* width: calc((100% - 20px) / 2); */
}

/* .craft-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
} */

.craft-detail-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.craft-detail-name {
  font-size: 16px;
  line-height: 150%;
}

.craft-detail-time {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;

  color: #dedd91;
}

@media only screen and (max-width: 600px) {
  .shoes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    padding: 15px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
  }
  .header-title {
    font-size: 16px;
  }
  .header-content {
    margin-left: 0;
  }

  .shoe-detail-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .shoe-detail-image {
    height: 55%;
  }
  /* .item {
    flex-basis: 100%;
    max-width: 100%;
  } */

  .shoe-detail-info {
    gap: 16px;
  }
  .add-card {
    margin-top: 16px;
    width: 189px;
    font-size: 16px;
    line-height: 150%;
  }

  .craft-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 15px;
    gap: 40px;
    left: 0px;
  }

  .craft-detail-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 15px;
    gap: 40px;
  }
  /* .craft-detail {
    gap: 30px;
  } */
}

/* ////// cambridge-shoe */

.cambridge-shoe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 80px;
}

.cambridge-shoe-image {
  display: flex;
  gap: 15px;
}

/* .cambridge-shoe-image-small {
  padding: 40px;
  gap: 8px;
} */

.cambridge-shoe-image-small-detail {
  padding: 20px;
}

.cambridge-shoe-image-large {
  /* padding: 120px 25px; */
  margin: 150px 55px;
  /* width: 565px;
  height: 677px; */
}

.cambridge-shoe-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
  gap: 30px;
}
.cambridge-shoe-info-header {
  width: 80%;
}

.cambridge-shoe-info-content {
  width: 70%;
}
.border {
  width: 470px;
  border: 1px solid #1a1a1a;
}

/* /// */
.cambridge-shoe-price {
}

.cambridge-shoe-leather-image {
}

.cambridge-shoe-add-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.cambridge-shoe-add-card-change-num {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  font-size: 48px;
}
.dec {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 48px;
  height: 48px;
}

.num {
  width: 48px;
  height: 48px;
}

.inc {
  width: 48px;
  height: 48px;
}

.cambridge-shoe-add-card-btn {
}

.add-card {
}

.cambridge-shoe-sale-container {
}

.cambridge-shoe-title-sale {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

@media only screen and (max-width: 600px) {
  .cambridge-shoe {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 24px;
  }

  .cambridge-shoe-image {
    display: flex;
    flex-direction: column-reverse;
  }
  .cambridge-shoe-image-large {
    margin: 50px 25px;
  }
  .cambridge-shoe-info {
    width: 360px;
    height: 723px;
  }
  .cambridge-shoe-info-header {
    font-size: 32px;
  }
  .border {
    width: 360px;
  }

  .cambridge-shoe-info {
    padding-left: 0;
    gap: 30px;
  }
}

/* customer */
.container {
  align-items: center;
  padding: 80px;
  gap: 80px;
  background: #1a1a1a;
}
.text-white {
  color: white;
}

.customer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding-top: 80px;
}

.customer-info-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.customer-info-user-ava {
}

.customer-info-user-feedback {
  padding: 24px;
  gap: 24px;
  background: #ffffff;
}
.customer-info-user-img {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  align-items: center;
  padding: 0px;
  gap: 16px;
}
.customer-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 45%;
  /* text-align: center; */
  /* padding: 0px; */
  isolation: isolate;
}
.sp-dot {
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 30px;
    padding: 80px 15px;
    width: 60%;
    height: 80%;
  }
  /* .customer-info {
 width: 60%;
 height: 80%;
  } */
  .hide-none {
    display: none;
  }
}
/* question */
.question {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 80px;
  gap: 31px;
}
.question-title {
  width: 100%;
}

.frequently-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 50px 0px 0px;
  gap: 40px;
  width: 50%;
  height: 672px;
}

.frequently-question-question1 {
}

.frequently-question-question1-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #1a1a1a;
  margin-top: 16px;
}

.sp-icon {
  /* margin-left: 220px; */
  margin-left: 50%;
}
.frequently-question-question1-desc {
  margin-top: 16px;
  padding: 16px 24px;
  gap: 10px;

  background: #f5f5f5;
}

.other-question-container {
  width: 80%;
}

.other-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px 40px; */
  gap: 40px;

  width: 50%;
  height: 672px;
  background: #1a1a1a;
}

.question-content {
  width: 90%;
}

.other {
  text-align: center;
  align-items: center;
}

.form-group {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.form-control {
  background-color: #1a1a1a;
  border: 1px solid #ffffff;
  margin-top: 10px;
  width: 90%;
}

.submit {
  padding: 16px;
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .question {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}
