* {
  font-family: "IBM Plex Serif";
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

.header-bg {
  width: 100%;
  height: 680px;
  background: linear-gradient(
    0deg,
    rgba(26, 26, 26, 0.5),
    rgba(26, 26, 26, 0.5)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../image/Rectangle 4.png");
  position: relative;
}

.title-header-bg {
  padding: 0;
  gap: 16px;
  position: absolute;
  width: 30%;
  height: 15%;
  left: 50%;
  top: 20%;
  color: white;
}
.title {
  font-family: "Koulen";
  font-size: 56px;
  line-height: 150%;
}
.content-header-bg {
  width: 70%;
  height: 15%;
  font-size: 20px;
  line-height: 150%;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.sale-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30%;
  height: 48%;
  left: 35%;
  top: 75%;
  background: #1a1a1a;
  color: #ffff;
}

.title-sale {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 200;
  font-size: 42px;
}

.content-sale {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}
.content-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.time-content {
  font-size: 48px;
  line-height: 150%;
}

.text-content {
  font-size: 24px;
  line-height: 150%;
  flex: none;
  order: 1;
  flex-grow: 0;
}

@media only screen and (max-width: 600px) {
  /* .title-header-bg {
    width: 360px;
    height: 172px;
    left: 15px;
    top: 140px;
    width: 60%;
    height: 50%;
  } */
  .title-header-bg {
    left: 15px;
  }
  .title {
    font-size: 32px;
  }
  .time-content {
    font-size: 20px;
  }
  .title-sale {
    font-size: 20px;
  }

  .sale-container {
    gap: 16px;
    width: 85%;
    height: 35%;
    left: 5%;
    top: 85%;
  }
}

.shoes-container {
  margin-top: 180px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px;
  gap: 140px;
}

.header-title {
  font-family: "Koulen";
  font-size: 32px;
  line-height: 150%;
}

.header-content {
  font-size: 16px;
  line-height: 150%;
  order: 1;
}

.shoe-detail-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 30px;
}
.shoe-detail-item {
  display: flex;
  flex-direction: row;
}

.shoe-detail-image {
  width: 270px;
  height: 324px;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}
.sale-off {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  background: #3d0000;
}

.shoe-detail-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.shoe-detail-price {
  display: flex;
  font-size: 20px;
  line-height: 150%;
  color: #1a1a1a;
}
.shoe-detail-price-sale-off {
  text-decoration: line-through;
  margin-left: 15px;
}

.shoe-detail-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #666666;
}

.shoe-detail-desc {
  font-size: 16px;
  line-height: 150%;
  color: #1a1a1a;
}

.add-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;

  width: 270px;
  height: 48px;

  border: 1px solid #1a1a1a;
}

.craft-container {
  padding: 0;
  position: absolute;
  margin-top: 30px;
  background: #1a1a1a;
  color: white;
  padding: 80px;
}

.craft-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.craft-detail-row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.carft-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.craft-detail-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.carft-detail-name {
  font-size: 16px;
  line-height: 150%;
}

.craft-detail-time {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;

  color: #dedd91;
}
@media only screen and (max-width: 600px) {
  .shoes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    font-size: 16px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .header-title {
    font-size: 16px;
    width: fit-content;
  }
  .shoe-detail-container {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .item {
    margin-top: 10px;
  }
  .shoe-detail-info {
    gap: 16px;
  }
  .add-card {
    margin-top: 16px;
    width: 189px;
    font-size: 16px;
    line-height: 150%;
  }
  .craft-detail-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 15px;
    gap: 40px;
  }
  /* .carft-detail {
    gap: 30px;
  } */
}
