#app {
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  background: #f4f4f4;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dragging {
  opacity: 0.5;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #9f3e3e;
}

.done {
  text-decoration: line-through;
}
