.calculator {
  width: 300px;
  border: solid 1px black;
  background-color: rgb(184, 237, 237);
  border-radius: 8px;
  padding: 10px;
}

.calculator-display {
  height: 50px;
  border: solid 1px gray;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: right;
  font-size: 30px;
  background-color: rgb(245, 247, 249);
}
.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 10px;
}
button {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}
button:active {
  background-color: #ccc;
}
